body {
    background-color: whitesmoke;
    color: DimGray;
    text-align: center;
/*    font-family: Nekoyanagi; /* Гарнитура шрифта *//*
    src: url(fonts/nekoyanagi.ttf); /* Путь к файлу со шрифтом */
    font-size: 35px;
    font-weight: bold;
}

#header {
    padding-top: 35px;
} 

#links {
    padding-top: 10px;
}

.banchan {
    width: 250px;
    height: 200px;
}

a:link { 
    color: dimgray;
}

a:visited {
    color: deepskyblue; /* Цвет посещенных ссылок */
}

a:active {
    color: skyblue; /* Цвет активной ссылки */ 
} 
