body {
    background-color: rgb(204, 199, 199);
    color: rgb(75, 74, 74);
    text-align: center;
/*    font-family: Nekoyanagi; /* Гарнитура шрифта *//*
    src: url(fonts/nekoyanagi.ttf); /* Путь к файлу со шрифтом */
    font-size: 35px;
    font-weight: bold;
}

#header {
    padding-top: 35px;
} 

#links {
    padding-top: 10px;
}

.banchan {
    width: 300px;
    height: 200px;
}

a:link { 
    color: dimgray;
}

a:visited {
    color: rgba(43, 46, 48, 0.89); 
}

a:active {
    color: rgb(0, 0, 0); 
}